@using OrderManager.Web.Constants

@if (!string.IsNullOrEmpty(TempData[TempDataKeys.StatusMessageError] as string))
{
    <div class="alert alert-danger alert-dismissible align-items-center d-flex fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"></i>
        @TempData[TempDataKeys.StatusMessageError]
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
}

@if (!string.IsNullOrEmpty(TempData[TempDataKeys.StatusMessageSuccess] as string))
{
    <div class="alert alert-dismissible alert-success align-items-center d-flex fade show" role="alert">
        <i class="bi bi-check-circle-fill flex-shrink-0 me-2"></i>
        @TempData[TempDataKeys.StatusMessageSuccess]
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
}