@model OrderManager.Web.Areas.Administration.Models.Retailer.AddViewModel.AddInputModel

<form autocomplete="off" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    <div class="form-floating mb-3">
        <input asp-for="TaxId" class="form-control"/>
        <label asp-for="TaxId"></label>
        <span asp-validation-for="TaxId"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Name" class="form-control"/>
        <label asp-for="Name" class="form-label"></label>
        <span asp-validation-for="Name"></span>
    </div>

    <div class="d-flex gap-2">
        <a class="btn btn-outline-secondary" href="@Model.CancellationReturnUrl">Cancel</a>
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>